body {
	/*background-color: #cccccc;*/
}

header {
	background-color: white;
	border: 2px solid black;
	height: 80px;
}

header h1 {
	padding-left: 5px;
	float: left;
	height: 40px;
}

header div {
	float: right;
	height: 40px;
}

#searchDisplay {
	/*background-color: black;*/
	position: absolute;
	width: 100%;
	height: 404px;
}/* If height not specified, it will default to 0 and elements
in the div cannot be accessed by mouse...*/

#searchDisplay:hover {

}

div.displays {
	height: 400px;
	width: 400px;
	border: 2px solid black;
	position: absolute;
	margin-left: 25%;
    transition: transform 0.5s;
    opacity: 0.8;
}


div#display1 {
	/*background-color: red;*/
	background: url("img/album01.jpg");
	background-size: 100% 100%;
	-webkit-transform-origin: 0% 0%;
	transform-origin: 0% 0%; 
	/* Set the upper left corner as the transform origin */
    -webkit-transform: rotateY(10deg);
    transform: rotateY(10deg);
    z-index: 1;
}

div#display1:hover  {
	transform-origin: 0% 0%; 
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    transition: 1s;
}


div#display1:hover ~ div#display4 {
	transform-origin: 0% 0%; 
    -webkit-transform: rotateY(85deg);
    transform: rotateY(85deg);
    transition: 1s;

}

div#display1:hover ~ div#display3 {
	transform-origin: 0% 0%; 
    -webkit-transform: rotateY(80deg);
    transform: rotateY(80deg);
    transition: 1s;

}

div#display1:hover ~ div#display2 {
	transform-origin: 0% 0%; 
    -webkit-transform: rotateY(75deg);
    transform: rotateY(75deg);
    transition: 1s;

}

div#display2 {
	/*background-color: green;*/
	background: url("img/album02.jpg");
	background-size: 100% 100%;
	-webkit-transform-origin: 0% 0%;
	transform-origin: 0% 0%;
    -webkit-transform: rotateY(25deg);
    transform: rotateY(25deg);
    z-index: 2;
}

div#display2:hover {
	transform-origin: 0% 0%;
    -webkit-transform: rotateY(8deg);
    transform: rotateY(8deg);
    transition: 1s;
}

div#display2:hover ~ div#display4 {
	transform-origin: 0% 0%;
    -webkit-transform: rotateY(87deg);
    transform: rotateY(87deg);
    transition: 1s;
}

div#display2:hover ~ div#display3 {
	transform-origin: 0% 0%;
    -webkit-transform: rotateY(82deg);
    transform: rotateY(82deg);
    transition: 1s;
}

div#display2:hover ~ div#display1 {
	transform-origin: 0% 0%;
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    transition: 1s;
}

div#display3 {
	/*background-color: blue;*/
	background: url("img/album03.jpg");
	background-size: 100% 100%;
	-webkit-transform-origin: 0% 0%;
	transform-origin: 0% 0%;
    -webkit-transform: rotateY(40deg);
    transform: rotateY(40deg);
    z-index: 3;
}

div#display3:hover {
	transform-origin: 0% 0%;
    -webkit-transform: rotateY(8deg);
    transform: rotateY(8deg);
    transition: 1s;
}

div#display3:hover ~ div#display4 {
	transform-origin: 0% 0%;
    -webkit-transform: rotateY(87deg);
    transform: rotateY(87deg);
    transition: 1s;
}

div#display3:hover ~ div#display2 {
	transform-origin: 0% 0%;
    -webkit-transform: rotateY(-4deg);
    transform: rotateY(-4deg);
    transition: 1s;
}

div#display3:hover ~ div#display1 {
	transform-origin: 0% 0%;
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    transition: 1s;
}

div#display4 {
	/*background-color: yellow;*/
	background: url("img/album04.jpg");
	background-size: 100% 100%;
	-webkit-transform-origin: 0% 0%;
	transform-origin: 0% 0%;
    -webkit-transform: rotateY(55deg);
    transform: rotateY(55deg);
    z-index: 4;
}

div#display4:hover {
	transform-origin: 0% 0%;
    -webkit-transform: rotateY(16deg);
    transform: rotateY(16deg);
    transition: 1s;
}

div#display4:hover ~ div#display3 {
	transform-origin: 0% 0%;
    -webkit-transform: rotateY(12deg);
    transform: rotateY(12deg);
    transition: 1s;
}

div#display4:hover ~ div#display2 {
	transform-origin: 0% 0%;
    -webkit-transform: rotateY(8deg);
    transform: rotateY(8deg);
    transition: 1s;
}

div#display4:hover ~ div#display1 {
	transform-origin: 0% 0%;
    -webkit-transform: rotateY(4deg);
    transform: rotateY(4deg);
    transition: 1s;
}